*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.id_container{
    width:fit-content;
    margin:auto;
    background-color:blanchedalmond;
}
header{
    margin-top: 5px;
    padding: 5px;
    background-color: aliceblue;
    text-align: center;
    border: 2px solid black;
    gap: 16px
}
.pic{
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.info{
    text-align: center;
    flex-direction: column;
}
h1{
    color: rgb(107, 6, 154);
}
footer{
    background-color: aliceblue;
    text-align: center;
}