*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100vh;
}
.box{
    width: 200px;
    /* flex: 1; */
    height: 200px;
    background-color: lavender;
    border: 2px solid black;
}
.container :nth-child(even){
    background-color: lightsalmon;
}